@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "vendor";
@import "datatable";

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Lato", sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #F4F8F9;
}

.icon {
    fill: #afb9c5;
    &:hover {
        fill: #ef5353;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #1464B4;
    position: relative;
    flex-direction: row;
    padding: 16px 32px;
    &__brand {
        color: #fff;
    }
    &__locale {
        text-transform: uppercase;
    }
}

.btn {
    font-family: "Avenir", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 16px;
}

.btn-go-back {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiP…cgMTEuNjg2MzkwNSI+PC9wb2x5bGluZT4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
    background-size: 16px 14px;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    display: block;
    padding: 0;
    border-radius: 0;
}